<div class="wrapper">
    <div class="form-group">
        <label for="exampleInputEmail1">Название</label>
        <input
          #nameControl 
          class="form-control" 
          id="exampleInputEmail1" 
          aria-describedby="emailHelp" 
          placeholder="Введите название"
          [formControl] = 'name'
          (keyup.enter) = 'modelControl.focus()'
        >
        
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Модель</label>
        <input 
          #modelControl
          class="form-control" 
          id="exampleInputEmail1" 
          aria-describedby="emailHelp" 
          placeholder="Введите модель"
          [formControl] = 'model'
          (keyup.enter) = 'name.invalid || model.invalid ? return : onAdd()'
        >
    </div>
    <hr>
    <button 
      type="button" 
      class="btn btn-success" 
      [disabled] = 'name.invalid || model.invalid'
      (click) = 'onAdd()'
      >Add car</button>
    <button type="button" class="btn btn-danger" (click) = 'loadCars()'>Load cars</button>
</div>
